html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

#site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-content1{
  flex: 1 0 auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0.19) 49.2%, rgba(0, 0, 0, 0.73) 93.22%);
}

.btn8{
  text-align: center !important;
  position: absolute;
  margin-left: 13%;
}
.whatsapp{
  width: 300px;
  height: 60px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  float: left;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 8px;
}
.whatsapp-text{
  font-family: Poppins;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
  color: black;
}
.fa-arrow-right{
  margin-left: 230px;
  position: absolute;
  margin-top: -38px;
  color: black;
}
.whatsapp-image{
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 250px;
  margin-top: -55px;
}

@media screen and (max-width: 560px) {
  form{
    width: 80%;
    margin-bottom: 30% !important;
    margin: 0 auto; 
  }
  .contact-head{
    text-align: center;
    margin-top: 5%;
    letter-spacing: 2px;
    color: white;
  }
  .contact-head1{
    text-align: center;
    margin-top: 8%;
    font-size: 18px;
  }
  .line1{
    background-color: white;
    width: 80%;
    margin-top: 100px;
  }
  .contact-head2{
    color: white;
    font-weight: normal;
    margin-top: 5%;
    margin-left: 8%;
  }
  
}

@media screen and (min-width: 768px) {
  form{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 5%;
  }
  .contact-head{
    text-align: center;
    margin-top: 5%;
    letter-spacing: 2px;
    color: white;
  }
  .contact-head1{
    text-align: center;
    margin-top: 8%;
    font-size: 18px;
  }
  .line1{
    background-color: white;
    width: 80%;
    margin-top: 100px;
  }
  .contact-head2{
    color: white;
    font-weight: normal;
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 992px) {
  form{
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  form{
    width: 600px;
  }
  .contact-head1{
    text-align: center;
    margin-top: 3%;
    font-size: 18px;
  }
}